<link href="https://api.fontshare.com/v2/css?f[]=synonym@400&f[]=chillax@600&display=swap" rel="stylesheet">
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
        <h1>InTime</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
            <li nz-menu-item (click)="getHome()"><nz-icon nzType="dashboard"></nz-icon>&nbsp;&nbsp;Home</li>
            <li nz-menu-item><nz-icon nzType="setting"></nz-icon>&nbsp;&nbsp;Settings</li>
            <li nz-menu-item (click)="logout()" style="color: #ff4d4f;"><nz-icon nzType="logout"></nz-icon>&nbsp;&nbsp;Logout</li>
        </ul>
        </li>
        <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
            <li nz-menu-item (click)="getAdminTable()"><nz-icon nzType="team" nzTheme="outline" />&nbsp;&nbsp;Admin</li>
            <li nz-menu-item (click)="getEmployeeTable()"><nz-icon nzType="user" nzTheme="outline" />&nbsp;&nbsp;Employee</li>
            <li nz-menu-item (click)="getChart()"><nz-icon nzType="bar-chart" nzTheme="outline" />&nbsp;&nbsp;Chart</li>
        </ul>
        </li>
        <li nz-submenu nzTitle="Schedule" nzIcon="schedule">
        <ul>
            <li nz-menu-item (click)="getCalendar()"><nz-icon nzType="calendar" nzTheme="outline" />&nbsp;&nbsp;Calendar</li>
            <li nz-menu-item (click)="getAttendance()"><nz-icon nzType="check-circle" nzTheme="outline" />&nbsp;&nbsp;Attendance</li>
            <li nz-menu-item (click)="getLeave()"><nz-icon nzType="clock-circle" nzTheme="outline" />&nbsp;&nbsp;Leave</li>
        </ul>
        </li>
        <li nz-menu-item>
        <nz-icon nzType="file" />
        <span>File</span>
        </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="main-header">
        <div class="header-content">
          <nz-icon
            class="trigger"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          />
          <div class="header-right">
            <span class="welcome-text">Welcome, {{ getDisplayName(currentUser) }}</span>
            <nz-avatar 
              [nzSize]="50" 
              [nzText]="getInitials(currentUser)" 
              [ngStyle]="{'background': '#5162fa'}"
            ></nz-avatar>
          </div>
        </div>
    </nz-header>

    <nz-content>
          <div class="router-outlet-container">
              <router-outlet></router-outlet>
          </div>
    </nz-content>

    <nz-footer>Lorenz Fuentes ©{{ date.getFullYear() }}</nz-footer>
  </nz-layout>
</nz-layout>