
:host ::ng-deep .ant-layout {
    height: 100vh;
    min-height: 100vh;
    background-color: #121212;
}

:host ::ng-deep .ant-layout-sider {
    height: 100vh;
    overflow: auto;
    position: fixed;
    left: 0;
    z-index: 100;
    background: linear-gradient(179deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 55%, rgba(81, 98, 250, 1) 100%);
    box-shadow: 12px 0 32px rgba(189, 189, 189, 0.068);
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

:host ::ng-deep .ant-layout-sider .ant-menu {
    background-color: transparent;
    color: White;
    border-right: none;
}

:host ::ng-deep .ant-layout-sider .ant-menu-item {
    color: rgb(255, 255, 255);
}

:host ::ng-deep .ant-layout-sider .ant-menu-item:hover {
    color: #fff;
    background-color: #677ec496;
}

:host ::ng-deep .ant-layout-sider .ant-menu-submenu-title {
    color: rgb(255, 255, 255);
}

:host ::ng-deep .ant-layout-sider .ant-menu-submenu-title:hover {
    color: #ffffff;
    background-color: #677ec496;
}

.ant-menu-item:active {
    background-color: #9D6BF2 !important;
}

:host ::ng-deep .ant-layout-sider:not(.ant-layout-sider-collapsed) ~ .ant-layout {
    margin-left: 200px;
}

:host ::ng-deep .ant-layout-sider.ant-layout-sider-collapsed ~ .ant-layout {
    margin-left: 80px;
}

.logo {
    display: flex;
    font-family: 'Chillax', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: linear-gradient(to right, #7c6cbb, #5162fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 1rem;
}

h1 {
    width: fit-content; 
    font-weight: bolder;
}

:host ::ng-deep .ant-layout-sider-collapsed .logo h1 {
    text-indent: -9999px;
    position: relative;
}

nz-header {
    background: #121212;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.main-header {
    background: #121212;
    padding: 0;
    box-shadow: 12px 0 32px rgba(0, 0, 0, 0.31);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    
    .header-right {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-right: 24px;
        
        .welcome-text {
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.trigger {
    font-size: 25px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    color: #fff;
}

.trigger:hover {
    color: #9D6BF2;
}

nz-content {
    flex: 5;
    overflow-y: auto; 
    overflow-x: hidden; 
    background-color: #121212;
    transition: margin-left 0.2s;
    margin-left: 50px;
    width: 95%;
    
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}

.router-outlet-container {
    margin-top: 30px;
    padding: 24px;
    border-radius: 8px;
    min-height: 400px;
    width: 100%;
    box-sizing: border-box;
}

:host ::ng-deep .router-outlet-container > * {
    display: block;
    width: 100%;
}

nz-footer {
    text-align: center;
    padding: 24px 50px;
    background-color: #121212;
    color: white;
    border-top: 1px solid #3A3A3A;
}