@import url('https://api.fontshare.com/v2/css?f[]=synonym@400&f[]=chillax@600&display=swap');

:host ::ng-deep {
  /* Calendar header */
  .ant-picker-calendar-header {
    background: #a588be;
    // border-bottom: 1px solid #3A3A3A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  .ant-select-selector,.ant-radio-button-wrapper {
      background: #ddd4e6 !important;
      border-color: #3a3a3a !important;
      color: #2f2f2f !important;
      margin-right: 10px;
      border-radius: 5px;
  }
  
  .ant-picker-calendar .ant-picker-content th {
    color: #a588be;
    font-weight: bolder;
  
  }
  .ant-picker-calendar .ant-picker-cell-today .ant-picker-cell-inner {
  color: #ffffff;
  border: 2px solid #5162fa;
  }
  .ant-picker-calendar .ant-picker-cell-selected .ant-picker-cell-inner {
    background: #a588be !important;
  }
  // Calendar
  .ant-picker-calendar .ant-picker-panel {
    // background: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #a588be;
  }
  .ant-alert {
    background: #FCFFFD;
    border: 2px solid #a588be;
    border-radius: 6px;
    margin-bottom: 16px;
  }
  
  .ant-alert-message {
    color: #a588be;
    font-weight: 500;
  }
  
  .ant-alert-info {
    background: #FCFFFD;
    border-color: #a588be;
  }
  
  .ant-alert-info .ant-alert-icon {
    color: #a588be;
  }
}

h1{
  color: #a588be;
  font-family: 'Chillax', sans-serif;
  border-bottom: 2px solid #a588be;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 4px;
}